body{
    background-image: url("./Images/bgImage1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
/* *{
    background-color: #2B2D42;
    color: azure;
} */